.blueCube{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    height: 500px;
}

.containerCard{
    display: flex; 
    width: 650px;
    justify-content: space-around;
    margin-left: 700px;
    margin-top: 60px;
}