.popular{
    width: 100%;
    text-align: center;
}

.text{
    color: #333;
}

.popular-products{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.adcard{
    height: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 6% 0%;
}