.cart {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.table-container {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 5px;
  border: 1px solid #ddd; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.product {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
